.input{
    padding: 8px;
    border: 1px solid var(--first-color);
    border-radius: 4px;
    margin: 8px auto;
    min-width: 268px;
    height: 35px;
    font-size: 10px;
}

.input-form{
    min-width: 215px;
}